@model Product

<div class="text-center col-lg-5" style="margin-left:auto; margin-right:auto">
        <h2>Edit Product</h2>
        <form asp-action="Update">
        @Html.HiddenFor(m=>m.Id)
        Name <input id="name" name="Name" type="text" value="@Model.Name" class="form-control" />
            <br />
        Description <textarea id="description" name="Description" type="text" class="form-control" rows="3" >@Model.Description</textarea>
            <br />

        Price <input id="price" name="Price" type="number" value="@Model.Price" class="form-control" />
            <br />

        ImageUrl <textarea id="imageUrl" name="ImageUrl" type="text" class="form-control" rows="2">@Model.ImageUrl</textarea>
            <br />

        Stock <input id="stock" name="Stock" type="number" value="@Model.Stock" class="form-control" />
            <br />

        Material <input id="material" name="Material" type="text" value="@Model.Material" class="form-control" />
            <br />

        Color <input id="color" name="Color" type="text" value="@Model.Color" class="form-control" />
            <br />

        Brand <input id="brand" name="Brand" type="text" value="@Model.Brand" class="form-control" />
            <br />

        <button type="submit" class="btn btn-success">Save</button>
        </form>

</div>






